@media (max-width: 1200px) {

}
@media (max-width: 991px) {
    .header {
        justify-content: space-around;
    }
    .consultation {
        padding: 90px 20px;
    }
    .promo {
        padding-bottom: 50px;
        min-height: auto;
        &__wrapper {
            align-items: center;
            margin-top: 40px;
        }
        &__header {
            font-size: 40px;
        }
        &__subheader {
            font-size: 22px;
        }
        &__icons {
            margin-top: 30px;
        }
    }
    .button_main {
        margin-top: 35px;
    }
    .carousel {
        &__item{
            img {
                width: 100%;
            }
        }
    }
    .review {
        &__info {
            width: 540px;
        }
        &__block {
            justify-content: space-around;
        }
    }
    .footer {
        &__info {
            width: 320px;
            height: 190px;
            padding: 20px;
        }
        &__addr {
            font-size: 15px;
            margin-bottom: 20px;
        }
        &__phone {
            margin-bottom: 20px;
        }
    }
}
@media (max-width: 767px) {
    .header {
        flex-wrap: wrap;
        &__official {
            display: none;
        }
      }
      .promo {
          background: url(../../img/bg/main_bg_mobile.jpg) center (center/cover) no-repeat;
      }
    .title {
        font-size: 30px;
        line-height: 33px;
    }
    .advantages {
        &__wrapper {
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 20px;
        }
        &__item {
            margin-top: 30px;
        }
        &__subtitle {
            margin: 10px 0;
        }
        br {
            display: none;
        }
    }
    .consultation {
        padding: 70px 1vh;
        &__descr {
            margin-top: 50px;
            text-align: center;
        }
        h2 {
            text-align: center;
            br {
                display: none;
            }
        }
        .feed-form {
            margin: 0 auto;
            margin-top: 36px;
        }
    }
    .catalog {
        &__tab {
            width: 165px;
            font-size: 16px;
        }
    }
    .review {
        &__block {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__info {
            width: 500px;
            margin-top: 30px;
            padding: 0 10px;
            text-align: center;
            line-height: 20px;
        }
    }
    .footer {
        display: flex;
        flex-wrap: wrap;
        &__info {
            order: 0;
            position: static;
            transform: none;
            left: 0;
            width: 100%;
        }
        &__map {
            order: 2;
        }
    }
}
@media (max-width: 575px) {
    .title {
        font-size: 24px;
        line-height: 30px;
    }
    .header {
        flex-wrap: wrap;
        justify-content: center;
        &__official {
            display: block;
            margin: 20px 0;
            text-align: center;
        }
        .menu {
            width: 85%;
        }
    }
    .promo {
        &__wrapper {
            margin-top: 40px;
        }
        &__header {
            font-size: 35px;
            text-align: center;
        }
        &__subheader {
            font-size: 20px;
            line-height: 26px;
            text-align: center;
        }
        &__icons {
            margin-top: 30px;
            max-width: 320px;
        }
        &__icon {
            width: 100px;
        }
    }
    .consultation {
        min-height: 100vh;
        padding: 9vh 1vh;
        &__descr {
            margin-top: 8vh;
            font-size: 16px;
        }
        .feed-form {
            margin-top: 8vh;
        }
    }
    .catalog {
        &__tabs {
            flex-wrap: wrap;
            margin-top: 40px;
        }
        &__tab {
            width: 220px;
            font-size: 18px;
            margin: 7px 0;
        }
        &__content {
            margin-top: 35px;
        }
    }
    .review {
        &__info {
            width: 100%;
        }
    }
    .modal {
        width: 100%;
        &__close {
            top: 10px;
            right: 10px;
        }
        .feed-form {
            width: 250px;
        }
    }
}