.carousel {
    padding: 81px 0;
    &__inner {
        margin: 0 auto;
        display: flex;
    }
    .slick-prev, .slick-next {
        outline: none;
        border: none;
        background-color: #fff;
        img {
            width: 31px;
            height: 50px;
        }
    }
}
