.review {
    text-align: center;
    padding-bottom: 61px;
    &__block {
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
        max-width: 880px;
    }
    &__img {
        width: 169px;
        height: 169px;
    }
    &__info {
        width: 650px;
        text-align: left;
    }
    &__subtitle {
        font-size: 18px;
        color: #0d0d0d;
        font-weight: 700;
    }
    &__marafons {
        font-size: 14px;
        color: #646464;
        font-weight: 300;
    }
    &__descr {
        font-size: 16px;
        font-weight: 300;
        color: #0d0d0d;
        margin-top: 20px;
    }
}